@model IEnumerable<OrderFood.Entity.Models.Picture>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <a data-lens-image="/img/foto/@item.ImageUrl" class="simpleLens-lens-image">
        <img src="~/img/foto/@item.ImageUrl" style="max-height:300px;max-width:250px;min-height:300px;min-width:250px;" title="@item.Product.Name" alt="@item.ImageUrl" class="simpleLens-big-image">
    </a>
}