@model IEnumerable<OrderFood.Entity.Models.Subcategory>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <a href="~/Product/Subcategory/@item.Id">@item.Name (@item.Products.Count() comidas)</a>
}