@{
    Layout = null;
}

<form action="/Home/Search" method="get">
    <input type="text" name="key" id="" placeholder="Comida, ciudad o empresa que desea buscar">
    <button type="submit"><span class="fa fa-search"></span></button>
</form>