@model OrderFood.Data.Identity.ApplicationUser
@{
    Layout = null;
}

@if (Model.Email != null)
{
    <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>@Model.Email</li>
}
@if (Model.PhoneNumber != null)
{
    <li class="mb-0"><i class="fas fa-fw fa-phone mr-2"></i>@Model.PhoneNumber</li>
}