@{
    Layout = null;
}

<ul class="dropdown-menu dropdown-menu-right notification-dropdown">
    <li>
        <div class="notification-title"> Controlar</div>
        <div class="notification-list">
            <div class="list-group">
                <a href="~/CompanyCreate/ControlCompany" class="list-group-item list-group-item-action active">
                    <div class="notification-info">
                        <div class="notification-list-user-block">
                            <span class="notification-list-user-name">Página de Control de compañía</span>
                        </div>
                    </div>
                </a>
                <a href="~/CompanyCreate/ControlProduct" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                        <div class="notification-list-user-block">
                            <span class="notification-list-user-name">Página de Control de Producto</span>
                        </div>
                    </div>
                </a>
                <a href="~/CompanyCreate/ControlProductDetailList" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                        <div class="notification-list-user-block">
                            <span class="notification-list-user-name">Página de Control de Detalles del Producto</span>
                        </div>
                    </div>
                </a>
                <a href="~/CompanyCreate/ControlContact" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                        <div class="notification-list-user-block">
                            <span class="notification-list-user-name">Página de Control de Información de Contacto</span>
                        </div>
                    </div>
                </a>
                <a href="~/CompanyCreate/ControlSocialMedia" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                        <div class="notification-list-user-block">
                            <span class="notification-list-user-name">Página de Control de Cuenta de Red Social</span>
                        </div>
                    </div>
                </a>
                <a href="~/CompanyCreate/ControlPicture" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                        <div class="notification-list-user-block">
                            <span class="notification-list-user-name">Página de Control de Imagen</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </li>
</ul>