@{
    Layout = null;
}

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav flex-column">       
        <li class="nav-item ">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Procedimientos de Registro</a>
            <div id="submenu-1" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/CompanyCreate/CompanyList">Registro Compañía/Producto</a>
                    </li>                                       
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Información de Contenido</a>
            <div id="submenu-2" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourProductList">Lista de Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourProductDetailList">Lista de Detalles de Producto</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourPhotoList">Lista de Imágenes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourCompanyList">Lista de Su Compañía</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/UnConfirmCompany">Compañía No Aprobadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/UnConfirmPhotos">Imágenes No Aprobadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/UnConfirmProduct">Productos No Aprobados</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fa fa-fw fa-rocket"></i>Información Estadística</a>
            <div id="submenu-3" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourMostSellCompany">Tus CompañíaS Más Vendidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourMostSell">Sus Productos más Vendidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YouMostLiked">Tus Productos Que más Gustan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourMostSaveMoney">Sus Productos más Rentables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourLessSell">Sus Productos Menos Vendidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YouLessLiked">Los Productos que Menos le Pustan</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fa fa-fw fa-rocket"></i>Información Estadística Detallada</a>
            <div id="submenu-4" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourExpensiveMostSell">Más Caro/Más Vendido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourCheapLessSell">Barato/Menos Vendido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourMostLikeMoreSell">Más Gusta/ Más Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourMostLikeLessSell">Más Gusta/Menos Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourLessLikeMoreSell">Menos Gusta/Ventas Más Altas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourLessLikeLessSell">Menos Gusta/Menos Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/LessHitLessSell">Mínima Interacción/Mínimas Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/LessHitMoreSell">Interacción Mínima/Ventas Más Altas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/MoreHitLessSell">Mayor Compromiso/Menos Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/MoreHitMoreSell">Mayor Compromiso/Mayores Ventas</a>
                    </li>
                </ul>
            </div>
        </li>        
        <li class="nav-divider">
            Rango del Producto
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fa fa-fw fa-rocket"></i>Lista de Información del Producto</a>
            <div id="submenu-6" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/FromExpensiveToCheap">De Alto A Barato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/FromCheapToExpensive">De Barato A Alto</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/MostLikeProduct">Producto Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/LessLikeProduct">Producto Que No Le Qusta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/MoreSellingProduct">Producto Solicitado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/LessSellingProduct">Producto No Solicitado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/MoreHitProduct">Interacción Máxima</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/LessHitProduct">Interacción Mínima</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-divider">
            Competidores, Comparación Productos
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-file"></i> Por Localizacion </a>
            <div id="submenu-7" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/CityList">Lista de Ciudades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/CountryList">Lista de Países</a>
                    </li>
                </ul>
            </div>
        </li>        
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-file"></i>Por Método de Pago </a>
            <div id="submenu-9" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/PaymentList">Lista de Métodos de Pago</a>
                    </li>                   
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fa fa-fw fa-rocket"></i>Viniendo de Nosotros</a>
            <div id="submenu-10" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="~/HomeCompany/YourMessageBox">Tu Cuadro de Mensaje</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>