@model OrderFood.Entity.Models.Order
@{
    Layout = null;
}

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
    <a href="~/HomeCompany/PasifOrderList/@Model.CompanyId" class="connection-item"><img src="~/img/sendorder.jpg" style="max-height:35px;min-height:35px;min-width:35px;max-width:35px" alt="img" title="pedidos completados"> <span>Expedido</span></a>
</div>