
@{
    ViewBag.Title = "¿Cómo Lo Haces, Cómo Lo Agregas?";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="container-fluid dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">@ViewBag.Title</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/HomeCreate/Index" class="breadcrumb-link">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="~/HomeCreate/UserProfile" class="breadcrumb-link">Perfil de la Compañía</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">       
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="section-block">
                <h5 class="section-title">@ViewBag.Title</h5>
                <p>Aquí está la guía para usar provechoo.com ...</p>
            </div>
            <div class="accrodion-regular">
                <div id="accordion4">
                    <div class="card bg-secondary">
                        <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                    <span class="fas fa-angle-down mr-3"></span>Añadir Ubicación
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion4">
                            <div class="card-body">
                                <p class="lead text-white">
                                    En primer lugar => <a href="https://www.google.com/maps" class="btn btn-brand btn-xs">Ir a esta dirección</a>
                                </p>
                                <p>
                                    Luego escriba su dirección claramente en el lugar que se muestra en la imagen. => <img src="~/img/howcreate/1.png" title="adress" style="max-height:300px;max-width:700px;min-height:300px;min-width:700px" /> <br /> y configura el mapa donde se encuentra tu dirección.
                                </p>
                                <p>
                                    Entonces necesitas obtener el enlace del mapa. Para esto, respectivamente =>
                                    <ul>
                                        <li><img src="~/img/howcreate/2.png" style="max-height:300px;max-width:700px;min-height:300px;min-width:700px" /></li>
                                        <hr />
                                        <li><img src="~/img/howcreate/3.png" style="max-height:300px;max-width:700px;min-height:300px;min-width:700px" /></li>
                                    </ul>
                                    Después de realizar los trámites, obtendrá el enlace con la dirección de su empresa. Ahora llegó al lugar donde puede copiar este enlace y pegarlo mientras registra la dirección de su empresa.
                                </p>
                                <p>
                                    Para ello, debe seleccionar el enlace como en la imagen de abajo y copiarlo. (Después de seleccionar el enlace para la computadora, puede hacer esto manteniendo presionadas las teclas crtl + c sin dejar el mouse. Los teléfonos son su especialidad).
                                    <img src="~/img/howcreate/4.png" style="max-height:300px;max-width:700px;min-height:300px;min-width:700px" /><br />
                                    Lo importante aquí es; Al copiar el enlace, es simplemente copiar el texto dentro de "" que comienza con https:// y no copiar el texto después de " " termina. Además, debe copiar el " " dentro de él antes de que pueda " ".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>