@model IEnumerable<OrderFood.Entity.Models.MessageForUser>
@{
    ViewBag.Title = "Mensajes Enviados Por provechoo.com";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="container-fluid  dashboard-content">
    <div class="email-inbox-header">
        <div class="row">
            <div class="col-lg-12">
                <div class="email-title"><span class="icon"><i class="fas fa-inbox"></i></span> @ViewBag.Title </div>
            </div>
        </div>
    </div>
    <div class="email-list">
        @foreach (var item in Model)
        {
            <div class="email-list-item email-list-item--unread">                
                <div class="email-list-detail">
                    <span class="date float-right"><span class="icon"><i class="fas fa-paperclip"></i> </span>@item.CreatedDate.ToShortDateString()</span><span class="from">@item.Title</span>
                    <p class="msg">@item.Text</p>
                    <div class="email-list-actions">
                        <a class="favorite active" href="~/HomeCompany/SendAnswer"><span>Respuesta</span></a>
                    </div>
                    @{
                        Html.RenderAction("_HitCount", "MessageForUser", new { id = item.Id });
                    }
                </div>
            </div>
        }
    </div>
</div>