@model IEnumerable<OrderFood.Entity.Models.Picture>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="campaign-img">
        <img src="~/img/foto/@item.ImageUrl"style="max-height:90px;max-width:90px;min-height:90px;min-width:90px" title="@item.Product.Name" alt="@item.ImageUrl" class="user-avatar-xl">
    </div>
}