@{ 
    Layout = null;
}

<form class="form-inline" action="/Admin/SearchResult" method="get">
    <div class="form-group">
        <input type="text" name="key" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Search</button>    
</form>