@{
    Layout = null;
}

<form class="form-inline" action="/Order/UserList" method="get">
    <div class="form-group">
        <input type="text" name="key" class="form-control" placeholder="username / name surname">
    </div>
    <button type="submit" class="btn btn-success">Search</button>
</form>